body {
    color:white;
    background: #183346;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

td {
   width: 4.5vw;
   height: 4.5vw;
   border: 1px dotted magenta;
   text-align: center;
   background: teal;
   color: white;
   font-size: 2vw;
}
h1 {
    margin: 2em auto 0;
    margin-bottom: 1em;
    font-size: 3vw;
    color: chocolate;
    text-align: center;
}

td:empty {
    visibility: hidden;
}
td:hover {
    transform: scale(1.5);
    cursor: pointer;
    color:tomato;
    background:yellowgreen;
    border: 2px solid black
}
